.button {
    color: white;
    padding: 10px 10px;
    border-radius: 6px;
    font-size: 20px;
    background: linear-gradient(var(--gradientStart), var(--gradientEnd));
    font-family: inter;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background: var(--gradientStart);
}

.hero {
    height: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    --svgheight: 200px;
    --svgwidth: 200px;
    --svgfill: url(#gradient);
    background-color:var(--gunmetal);
}

.hero h2 {
    font-size: 50px;
    color: white;
    font-family: inter;
}

.hero h3 {
    font-size: 28px;
    color: white;
    font-family: inter;
    font-weight: 500;
}

.hero p {
    font-size: 24px;
    color: white;
    font-family: inter;
    font-weight: 400;
}

.hero p span {
    font-size: 18px;
    color: #eee;
}

.hero .buttons {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    padding: 20px;
}

.tech {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding: 75px 50px;
    background-color: var(--dark-gunmetal);
    font-family: inter;
    color: white;
}

.tech .title {
    width: fit-content;
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(to right, #FE5B00, #FFBD12);
    background-clip: text;
    color: transparent;
}

.tech h3 {
    font-size: 36px;
    font-weight: 400;
}

.tech ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 15px;
    justify-content: space-evenly;
    align-items: center;
}

.tech ul li {
    height: 220px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    list-style-type: none;
    font-size: 22px;
}

.tech ul li .icon {
    width: 115px;
    height: 140px;
    display: flex;
    --svgfill: white;
}

.tech ul li p {
    width: 440px;
    font-weight: 300;
}

.tech ul li p a:hover {
    text-decoration: underline;
}

.timeline {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: white;
    font-family: inter;
    color: var(--dark-gunmetal);
    line-height: 1.5;
}

.timeline h3 {
    font-size: 48px;
    width: 100%;
}

.timeline h4 {
    font-size: 36px;
    font-weight: 500;
    margin-top: 40px;
}

.timeline p {
    font-size: 24px;
}

.timeline ol {
    width: 90%;
    max-width: 1000px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 28px;
}

.timeline ol li {
    font-size: 28px;
    font-weight: 500;
}

.timeline ol li h5 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
}

.timeline ol p {
    font-weight: 400;
    font-size: 22px;
}