.button {
    color: white;
    padding: 10px 10px;
    border-radius: 6px;
    font-size: 20px;
    background: linear-gradient(var(--gradientStart), var(--gradientEnd));
    font-family: inter;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background: var(--gradientStart);
}

.frame {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: white;
    font-family: inter;
    color: var(--dark-gunmetal);
    line-height: 1.5;
}

.frame h3 {
    font-size: 48px;

}

.frame h4 {
    font-size: 36px;
}

.breadcrumb {
    font-size: 20px;
    margin: 0px 0px;
}

.trendBox {
    width: 100%;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 15px 0px;
    background-color: #eee;
    padding: 20px;
}

.trendBox div {
    background-color: white;
}

.trendBox p {
    font-size: 18px !important;
}

.hero {
    height: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    --svgheight: 200px;
    --svgwidth: 200px;
    --svgfill: url(#turqPinkVertGradient);
    background-color:var(--gunmetal);
}

.hero h2 {
    font-size: 50px;
    color: white;
    font-family: inter;
}

.hero h3 {
    font-size: 28px;
    color: white;
    font-family: inter;
    font-weight: 500;
}

.hero p {
    font-size: 24px;
    color: white;
    font-family: inter;
    font-weight: 400;
}

.hero p span {
    font-size: 18px;
    color: #eee;
}

.hero .buttons {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    padding: 20px;
}

.tech {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding: 75px 50px;
    background-color: var(--dark-gunmetal);
    font-family: inter;
    color: white;
}

.tech .title {
    width: fit-content;
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(to right, #FE5B00, #FFBD12);
    background-clip: text;
    color: transparent;
}

.tech h3 {
    font-size: 36px;
    font-weight: 400;
}

.tech ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 15px;
    justify-content: space-evenly;
    align-items: center;
}

.tech ul li {
    height: 220px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    list-style-type: none;
    font-size: 22px;
}

.tech ul li .icon {
    width: 115px;
    height: 140px;
    display: flex;
    --svgfill: white;
}

.tech ul li p {
    width: 440px;
    font-weight: 300;
}

.tech ul li p a:hover {
    text-decoration: underline;
}

.timeline {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: white;
    font-family: inter;
    color: var(--dark-gunmetal);
    line-height: 1.5;
}

.timeline h3 {
    width: 100%;
}

.timeline h4 {
    font-weight: 500;
    margin-top: 20px;
}

.timeline p {
    font-size: 24px;
}

.timeline img {
    width: 90%;
    max-width: 450px;
    padding: 20px;
    margin-top: 20px;
}

.timeline ul {
    width: 90%;
    max-width: 1000px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 28px;
    margin-top: 20px;
}

.timeline ul li {
    max-height: fit-content;
    height: 65px;
    overflow: hidden;
    font-size: 28px;
    font-weight: 500;
    border: 3px solid #eee;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.timeline ul .expand {
    animation: expand 1s linear;
    animation-fill-mode: forwards;
}

@keyframes expand {
    0% {
        height: 65px;
    }
    100% {
        height: 1000px;
    }
}

.timeline ul li div {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    --svgheight: 25px;
    margin-bottom: 10px;
}

.timeline ul li:hover {
    border-color: rgb(0,221,225);
    --svgfill: url(#turqPinkHorzGradient);
}

.timeline ul li div h5 {
    font-size: 28px;
    font-weight: 500;
}

.timeline ul p {
    font-weight: 400;
    font-size: 22px;
}

.timeline ul a:hover {
    text-decoration: underline;
}

.node {
    height: 40px !important;
    width: 40px !important;
    background: 
        linear-gradient(var(--dark-gunmetal) 0 0) padding-box,
        linear-gradient(to bottom right, var(--gradientStart), var(--gradientEnd)) border-box;
    color: #313149;
    padding: 10px;
    border: 8px solid transparent;
    border-radius: 25px;
    display: inline-block;
    margin: 15px;
}

.phaseNode {
    height: 50px !important;
    width: 50px !important;
    margin: 10px !important;
}

.phasei {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.phasei .timelineBar {
    width: 12px;
    height: calc(100% - 85px);
    position: absolute;
    display: block;
    column-gap: 0px;
    align-self: flex-start;
    justify-self: flex-start;
    top: 55px;
    margin: 30px 29px;
    background: linear-gradient(to bottom, #eee 0%, #eee 90%, #fff 100%);
    overflow: hidden;
    z-index: 0;
}

.phasei>div, .techItem>div {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    z-index: 1;
}

.techItem {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.techItem .title {
    position: sticky;
    top: 70px;
    z-index: 2;
    pointer-events: none;
}

.techItem h3 {
    width: 100%;
}

.techItem .icon {
    width: 115px;
    height: fit-content;
    max-height: 140px;
    display: flex;
    --svgfill: url(#gradient);
    --svgwidth: 115px;
}

.techItem .title h4 {
    width: 100%;
    align-self: flex-start;
    background-color: white;
    padding: 10px 0px;
}

.techItem .content {
    width: calc(100% - 170px);
    margin-left: 170px;
    padding: 10px 40px;
    margin-top: -35px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.techItem .content .contentDescription {
    font-size: 24px;
}

.techItem .content p {
    width: 100%;
    font-size: 22px;
}

.techItem .content a {
    color: var(--itemcolor);
}

.techItem .content a:hover {
    text-decoration: underline;
}

.techItem .content h5 {
    width: 100%;
    font-size: 28px;
    font-weight: 600;
    margin-top: 20px;
    position: sticky;
    background-color: white;
    padding: 10px 0px;
    top: 125px;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.techItem .content h5 .buttons {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 20px;
    font-family: inter;
    font-weight: 500;
    --svgheight: 30px;
    --svgweight: 30px;
    --svgfill: #888;
}

.techItem .content h5 .buttons a:hover {
    --svgfill: url(#pageGradient);
}

.techItem .content h5 .buttons a {
    display: flex;
    align-items: center;
}

.techItem .content h6 {
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}

.techItem .content img {
    width: 100%;
    max-width: 450px;
    padding: 15px;
}

.techItem .content .vs {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 25px;
    column-gap: 25px;
    margin: 25px;
}

