.frame {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--gunmetal);
  color: white;
  margin-top: -70px;
}

.frame h2 {
  font-size: 48px;
}

.frame h3 {
  font-size: 24px;
  font-weight: 300;
}