.article {
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
}

.header {
  height: fit-content;
  width: 100%;
  background: var(--bg);
  color: white;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  padding: 20px 20px 0px 20px;
  align-items: center;
}

.header h2 {
  font-size: 36px;
  margin-top: 20px;
  align-self: flex-start;
  line-height: 1.2;
}

.overview {
  width: 98%;
  max-width: 1160px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header img {
  width: 43.5%;
  margin-top: auto;
  min-width: 350px;
  margin-bottom: var(--captureMB);
}

.overview .content {
  width: 43.5%;
  min-width: 415px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  margin-bottom: 30px;
}

@media screen and (max-width: 700px) {
  .overview .content {
    width: 98%;
    min-width: 98%;
  }

  .overview {
    justify-content: center;
  }
}

.overview .content p {
  width: 100%;
  margin: 10px;
}

.overview .content .description {
  margin: 15px;
  font-size: 22px;
}

.overview .content .label {
  font-weight: 700;
  line-height: 1.5;
  font-size: 20px;
}

.overview a:hover {
  text-decoration: underline;
}

.premise {
  width: 98%;
  max-width: 1160px;
  background-color: rgb(245,245,245);
  padding: 25px;
  margin: 10px 0px;
  border-radius: 20px;
  font-size: 22px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  color: rgb(25,25,25);
  white-space: pre-wrap;
}

.label {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;
  margin-block-start: 0em;
}

.section {
  width: 98%;
  max-width: 1160px;
  padding: 20px;
  margin: 20px 0px;
  border-radius: 20px;
  font-size: 22px;
  color: rgb(25,25,25);
  white-space: pre-wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section .img {
  width: 43.5%;
  height: auto;
  min-width: 350px;
  min-height: 450px;
  margin: 10px 0px;
}

.section .content {
  width: 90%;
  max-width: 400px;
}

.challenge .img {
  background: var(--challenge);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.solution {
  flex-direction: row-reverse;
}

.solution .img {
  background: var(--solution);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.choices .list {
  width: 43.5%;
  min-width: 350px;
  height: 100%;
  max-height: 500px;
  margin: 10px 0px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #EEEEEE;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: white;
}

.choices .list .title {
  font-size: 22px;
  color: black;
  text-align: center;
  font-weight: 700;
}

.choices .list div {
  display: inline-block;
  width: 98%;
  padding: 5px;
  background: var(--bg);
  background-position: center;
  margin: 5px;
  border-radius: 5px;
  text-align:center;
}

.choices .list div:hover {
  background: var(--gunmetal);
}

.resultimg {
  width: 100%;
  height: auto;
  min-width: 350px;
  margin: 10px 0px;
  padding: 20px;
  background-color: #eee;
  display: flex;
  justify-content: center;
}

.resultimg img {
  width: 90%;
  max-width: 1200px;
}

@media screen and (max-width: 650px) {
  .section .img {
    min-height: 300px;
  }

  .section {
    padding: 10px;
  }
}