.introduction {
  height: calc(100vh - 70px);
  min-height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--gunmetal);
  color: white;
}

.introduction .content {
  width: 100%;
  max-width: 2500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin-top: -70px;
}

.introduction .textbox {
  width: 600px;
  max-width: 90%;
  margin: 7% 3% 4% 3%;
}

.introduction h2 {
  width: fit-content;
  background: linear-gradient(to right, var(--amber), var(--flax));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 500;
  font-size: 60px;
  line-height: 1;
}

.introduction p {
  width: 100%;
  font-weight: 300;
  font-size: 24px;
  white-space: pre-wrap;
  font-family: Inter;
}

.introduction h2 + p {
  margin-top: 15px;
}

.centerpiece {
  height: auto;
  width: 425px;
  max-width: 98%;
}

.header {
  height: 70px;
  width: 100vw;
  position: sticky;
  top: 770px;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--dark-gunmetal);
  font-weight: lighter;
}

/*.specialties {
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.specialties .content {
  width: 90%;
  max-width: 900px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}

.specialty {
  width: 28%;
  min-width: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 18px;
  margin: 0px 20px;
}

.specialty h3 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
}

.specialty .icon {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: var(--gunmetal);
  background-image: var(--url);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 40px 0px;
}

.specialty img {
  height: 50px;
}*/

.featured {
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
}

.featured h4 {
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  margin-left: 25px;
  padding-bottom: 0px; 
}

.featured .content {
  width: 90%;
  height: fit-content;
  margin-top: 75px;
  max-width: 1200px;
}

.austin {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.austin .content {
  height: 80%;
  width: 90%;
  max-width: 975px;
  background: url("/images/austin.webp");
  background-size: cover;
  background-position: center;
  box-shadow: 0px 25px 25px rgba(0,0,0,0.5);
  display: flex;
  align-items: flex-end;
}

.austin .info {
  height: 200px;
  width: 100%;
  max-width: 350px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.austin .container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.austin .location {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.austin .location img {
  height: 30px;
  margin-right: 10px;
}

.austin h5 {
  font-size: 24px;
  font-weight: 300;
}

.austin p {
  font-size: 16px;
  font-family: Inter;
  font-weight: 300;
}

.austin a {
  margin-top: 10px;
  margin-left: 75px;
}

.austin a p {
  font-size: 18px;
}

.limitless {
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.limitless .content {
  height: 75%;
  width: 80%;

}

.limitless h3 {
  width: 80%;
  max-width: 700px;
  min-width: 300px;
  position: absolute;
  white-space: pre-wrap;
  color: white;
  font-size: 5vh;
  font-weight: 400;
  font-family: Inter;
}

.limitless .centered {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.limitless .centered:hover {
  animation: 0.5s limitlessHover;
  animation-fill-mode: forwards;
}

@keyframes limitlessHover {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(25px);
  }
}

.limitless h4 {
  width: fit-content;
  font-size: 3vh;
  font-weight: 300;
  margin-bottom: 0.8vh;
  font-family: Inter;
  background: linear-gradient(to right, var(--amber), var(--flax));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.limitless .me {
  height: 125px;
  width: 125px;
  border-radius: 75px;
  margin: 20px;
  border: 2px solid white;
  background: url('/images/icons/me.webp');
  background-size: 126px 126px;
  background-position: center;
}

.macrosection {
  background-color: var(--dark-gunmetal);
  position: relative;
  display: flex;
  justify-content: center;
  color: white;
}

.macrosection h4 {
  font-size: 48px;
  font-weight: 600;
  margin-left: 25px;
  padding-bottom: 25px; 
  text-align: center;
  font-family: Inter;
}

.macrosection .content {
  width: 90%;
  height: fit-content;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.macrosection:hover .content {
  animation: sectionHover 0.25s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes sectionHover {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-30px);
  }
}

.macrotool .subtitle {
  font-size: 24px;
  font-family: Inter;
  padding-bottom: 30px; 
}

.macrotool h4 {
  padding-bottom: 5px; 
}

.toolbar {
  height: 300px;
  width: 100%;
  overflow-y: hidden;
}

.overlay {
  height: 300px;
  left: 0;
  right: 0;
  position: absolute;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, var(--dark-gunmetal));
  z-index: 10;
  pointer-events: none;
}

.tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  justify-content: center;
}

.macrosection .content .caption {
  width: fit-content;
  font-size: 22px;
  margin-top: 35px;
  margin-bottom: 5px;
  color: var(--flax);
  font-family: Inter;
  font-weight: 300;
  background: linear-gradient(to right, var(--amber), var(--flax));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.macrosection .content a {
  margin-bottom: 20px;
}

@media screen and (max-height: 600px) {
  .introduction {
    height: 600px;
    min-height: fit-content;
  }
}

@media screen and (max-width: 650px) {
  .introduction .content {
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .introduction h2 {
    font-size: 48px;
  }

  .introduction p {
    font-size: 22px;
  }

  .limitless .content {
    height: 85%;
    width: 80%;
  }
}

/*
.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 25px;
  justify-content: center;
}

.skill {
  width: 225px;
  height: 60px;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.skill:hover {
  animation: skillHover 0.2s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes skillHover {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.skill:hover .skillbar {
  width: 0%;
  animation: skillPulse 0.5s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

.skill .row {
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skill .bar {
  width: calc(100% - 50px);
  height: 8px;
  border-radius: 10px;
  background-color: var(--gunmetal);
}

.skillbar {
  width: var(--barwidth);
  height: 8px;
  border-radius: 10px;
  background: linear-gradient(90deg, var(--flax), var(--amber));
}

.skill .row p {
  width: 50px;
  text-align: center;
  color: var(--amber);
}

.skill h6 {
  font-size: 20px;
  font-weight: 500;
}

.macrosection .content a {
  margin-top: 25px;
}

@keyframes skillPulse {
  0% {
    width: 0%;
  }
  100% {
    width: var(--barwidth);
  }
}
*/